<h1>User List<h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <div>
        <div>
          <%= link_to user.name, user_path(user) %>
        </div>
      </div>
      <div>
          Roll Number: <%= user.roll_no %>
      </div>
    </li>
  <% end %>
</ul>
<!-- <%= link_to "Add a new user", new_user_path %> -->
